Makefile
Makefile.in
*/Makefile
*/Makefile.in
aclocal.m4
autom4te.cache
autoregen.sh
common
compile
config.*
configure
depcomp
gst-fluendo-timeshift.spec
install-sh
libtool
ltmain.sh
missing
src/.deps
src/.libs
src/*.l[ao]
stamp-h*
